<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Cars</h1>

      <% @cars.each do |car| %>
        <div class="col-md-3">
          <div class="thumbnail">
            <%= car.name %>
            <%= image_tag(car.photo, :class => 'img-responsive') %>
            <%= car.model %>
            <div class="button" style="margin-top:10px; margin-bottom:10px">
              <%= link_to 'Show', car, :class => 'btn' %>
              <%= link_to 'Edit', edit_car_path(car), :class => 'btn' %>
              <%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
            </div>
          </div>
        </div>
      <% end %>

  <br>

  <%= link_to 'New Car', new_car_path %>
</div>
