<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@car.photo, :style => 'width:500px') %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.model %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
